<h2 style="color:navy"><u>Practical : 7</u></h2>

**<h4><u>Write a Pandas program to implement following operation</u></h4>**

* to create a dataframe from a dictionary and display it

In [ ]:
import pandas as pd

dic = {
    "name": ["A", "B", "C"],
    "marks": [10, 20, 30]
}

print("Convert Dictonary to Dataframe:\n",pd.DataFrame(dic))

* to sort the DataFrame first by 'name' in ascending order

In [ ]:
import pandas as pd

dic = {
    "name": ["Shubham", "Salet", "None"],
    "marks": [100, 100, 0]
}

arr = pd.DataFrame(dic)
print("Original DataFrame\n", arr)

print()
sort = arr.sort_values(by=['name'], ascending=True)
print("After sorting :\n", sort)

* to delete the one specific column from the DataFrame

In [ ]:
import pandas as pd

dic = {
    "name": ["Shubham", "Salet", "None"],
    "marks": [100, 100, 0]
}

arr = pd.DataFrame(dic)
print("Original DataFrame\n", arr)

print()
arr = arr.drop(columns = ["marks"])
print("After delete marks column DataFrame\n", arr)

* to write a DataFrame to CSV file using tab separator

In [ ]:
import pandas as pd

arr = pd.read_csv("/kaggle/input/emp-data/emp.csv")
print(arr)